@import './modules/colors';
$font-weight: bold;
$btn-padding: 0.8rem 1rem;
.ui-btn {
	--btn-default-bg: rgb(40, 40, 40);
	--btn-hover-bg: rgb(40, 40, 40);
	--btn-letter-spacing: 0.1rem;
	--hover-btn-color: #00bfff;
	--default-btn-color: #fff;
	--font-size: 16px;
	box-sizing: border-box;
	padding: $btn-padding;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $text-color;
	font-weight: $font-weight;
	font-family: inherit;
	background: $light-bg;
	border: solid $text-color 2.6px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 0.6rem;

	span {
		letter-spacing: var(--btn-letter-spacing);
		transition: var(--btn-transition);
		box-sizing: border-box;
		position: relative;
		background: inherit;
	}
	&:hover {
		background: $text-color;
		color: var(--default-btn-color);
	}
}
